<nav class="navbar">

  <h4>Dashboard</h4>

  <div class="dropdown">

    <button
      class="btn btn-light dropdown-toggle"
      data-bs-toggle="dropdown"
    >
      Mohamed Amine
    </button>

    <ul class="dropdown-menu dropdown-menu-end">

      <li>
        <a class="dropdown-item">
          Profile
        </a>
      </li>

      <li>
        <a class="dropdown-item">
          Settings
        </a>
      </li>

      <li>
        <a class="dropdown-item text-danger">
          Logout
        </a>
      </li>

    </ul>

  </div>

</nav>