<nav class="navbar">

  <h4>Dashboard</h4>

  <div class="dropdown">

    <button
      class="btn btn-light dropdown-toggle"
      data-bs-toggle="dropdown"
    >
      {{ userInfo?.preferred_username || 'User' }}
    </button>

    <ul class="dropdown-menu dropdown-menu-end">

      <li>
        <a class="dropdown-item" style="cursor:pointer;">
          Profile
        </a>
      </li>

      <li>
        <a class="dropdown-item" style="cursor:pointer;">
          Settings
        </a>
      </li>

      <li><hr class="dropdown-divider"></li>

      <li>
        
        <a  class="dropdown-item text-danger"
          style="cursor:pointer;"
          (click)="logout()">
          <i class="pi pi-sign-out me-2"></i>Logout
        </a>
      </li>

    </ul>

  </div>

</nav>