<div class="container-fluid login-page ">

    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-11 col-sm-8 col-md-6 col-lg-4">
        <p-card>
            <p class="text-center fs-2 text-dark fw-bold">login</p>

          <form [formGroup]="loginForm">

            <!-- EMAIL -->
            <div class="mb-3">

              <label>Email</label>

              <input
                pInputText
                type="email"
                class="form-control"
                placeholder="Enter email"
                formControlName="email">

              <div
                *ngIf="(f['email'].touched || submitted) && f['email'].invalid"
                class="alert alert-danger mt-2 p-2">

                <div *ngIf="f['email'].errors?.['required']">
                  Email is required
                </div>

                <div *ngIf="f['email'].errors?.['email']">
                  Invalid email format
                </div>

              </div>

            </div>

            <!-- PASSWORD -->
            <div class="mb-3">

              <label>Password</label>

              <p-password
                formControlName="password"
                placeholder="Enter password"
                [toggleMask]="true"
                [feedback]="false"
                styleClass="w-100"
                inputStyleClass="w-100">
              </p-password>

              <div
                *ngIf="(f['password'].touched || submitted) && f['password'].invalid"
                class="alert alert-danger mt-2 p-2">

                <div *ngIf="f['password'].errors?.['required']">
                  Password is required
                </div>

                <div *ngIf="f['password'].errors?.['minlength']">
                  Minimum 6 characters required
                </div>

              </div>

            </div>

            <!-- FORGOT -->
         <div class="d-flex justify-content-between mb-3">
                <a href="#" class="register-link"></a>
                <a href="#" class="forgot">Forgot password?</a>

        </div>
            <!-- BUTTON -->
            <div class="d-grid">

              <p-button
                label="Login"
                icon="pi pi-sign-in"
                (onClick)="submit()"
                [disabled]="loginForm.invalid">
              </p-button>

            </div>

          </form>

        </p-card>

      </div>

    </div>

  </div>
