<div class="page">

  <div class="container">

    <p-card styleClass="card">

      <!-- HEADER -->
      <div class="header">

        <div class="icon">
          <i class="pi pi-user"></i>
        </div>

        <h2>Add Employee</h2>
        <p>Create a new employee profile</p>

      </div>

      <!-- FORM -->
      <form [formGroup]="employeeForm" class="p-fluid">

        <!-- FIRSTNAME -->
        <div class="field">
          <label>First Name</label>

          <input
            pInputText
            formControlName="firstname"
            placeholder="John"
          />

          <small class="error"
            *ngIf="f['firstname'].invalid && f['firstname'].touched">
            First name is required
          </small>
        </div>

        <!-- LASTNAME -->
        <div class="field">
          <label>Last Name</label>

          <input
            pInputText
            formControlName="lastname"
            placeholder="Doe"
          />

          <small class="error"
            *ngIf="f['lastname'].invalid && f['lastname'].touched">
            Last name is required
          </small>
        </div>

        <!-- EMAIL -->
        <div class="field">
          <label>Email</label>

          <input
            pInputText
            formControlName="email"
            placeholder="email@example.com"
          />

          <small class="error"
            *ngIf="f['email'].invalid && f['email'].touched">
            Valid email required
          </small>
        </div>

        <!-- PHONE -->
        <div class="field">
          <label>Phone</label>

          <input
            pInputText
            formControlName="phonenumber"
            placeholder="+216..."
          />
        </div>

        <!-- SALARY -->
        <div class="field">
          <label>Salary</label>

          <input
            pInputText
            type="number"
            formControlName="salary"
            placeholder="1000"
          />
        </div>
  <div class="field">
    <label>Birth Date</label>

    <input
      pInputText
      type="date"
      formControlName="birthDate"
    />
  </div>
        <!-- LEVEL -->
        <div class="field">
          <label>Level</label>

         <p-select
  [options]="levels"
  optionLabel="label"
  optionValue="value"
  formControlName="level"
  placeholder="Select level">
</p-select>
        </div>

        <!-- DEPARTMENT -->
        <div class="field">
                    <label>Department</label>

       <p-select
         [options]="departments"
         optionLabel="name"
         optionValue="id"
         formControlName="departement"
         placeholder="Select department">
</p-select>

        </div>
        <!-- TEAM -->
                 <div class="field">
          <label>Team</label>

    <p-select
  [options]="teams"
  optionLabel="name"
  optionValue="id"
  formControlName="teamId"
  placeholder="Select team">
</p-select>


</div>
        <!-- CONTRACT -->
        <div class="field">
          <label>Contract</label>

      <p-select
  [options]="contracts"
  optionLabel="type"
  optionValue="id"
  formControlName="contractId"
  placeholder="Select contract">
</p-select>
        </div>

        <!-- ADDRESS -->
        <div class="field">
          <label>Address</label>

          <textarea
            pInputTextarea
            formControlName="adress"
            rows="3"
            placeholder="Address..."
            class="text-dark"
          ></textarea>
        </div>

        <!-- BUTTON -->
        <button
          pButton
          label="Save Employee"
          icon="pi pi-check"
          class="btn text-light"
          [disabled]="employeeForm.invalid"
          (click)="submit()"
        ></button>
      </form>
    </p-card>

  </div>

</div>