<p-card styleClass="card-table">

  <div class="table-header">
    <h2>Departments</h2>
  </div>

  <p-table
    [value]="departments"
    [paginator]="true"
    [rows]="rows"
  >

    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-dept>
      <tr>
        <td>{{ dept.name }}</td>
        <td>{{ dept.description }}</td>
        <td>
          <button pButton icon="pi pi-eye" class="p-button-text"></button>

          <button pButton icon="pi pi-pencil" class="p-button-text"  (click)="editDepartment(dept.id)"></button>

          <button
            pButton
            icon="pi pi-trash"
            class="p-button-text p-button-danger"
            (click)="deleteDepartment(dept.id, dept.name)">
          </button>
        </td>
      </tr>
    </ng-template>

  </p-table>

</p-card>
<p-confirmDialog></p-confirmDialog>