<p-card styleClass="card-table">

  <div class="table-header">
    <h2>Contracts</h2>
  </div>

  <p-table
    [value]="contracts"
    [paginator]="true"
    [rows]="rows">

    <ng-template pTemplate="header">

      <tr>
        <th>Employee Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>

    </ng-template>

    <ng-template
      pTemplate="body"
      let-contract>

      <tr>
          <td>
          {{ contract.employeeName }}
        </td>

        <td>
          {{ contract.startdate | date:'dd/MM/yyyy' }}
        </td>

        <td>
          {{ contract.enddate | date:'dd/MM/yyyy' }}
        </td>

        <td>
          {{ contract.contractAmount }}
        </td>

        <td>
          <span class="badge">
            {{ contract.type }}
          </span>
        </td>

      

        <td>

          <button
            pButton
            icon="pi pi-eye"
            class="p-button-text"
            (click)="viewContract(contract.id!)">
          </button>

          <button
            pButton
            icon="pi pi-pencil"
            class="p-button-text"
            (click)="editContract(contract.id!)">
          </button>

          <button
            pButton
            icon="pi pi-trash"
            class="p-button-text p-button-danger"
            (click)="deleteContract(contract.id!)">
          </button>

        </td>

      </tr>

    </ng-template>

  </p-table>

</p-card>

<p-confirmDialog></p-confirmDialog>