<p-card styleClass="card-table">

  <div class="table-header">
    <h2>Contracts</h2>
  </div>

  <p-table [value]="contracts" [paginator]="true" [rows]="8">

    <ng-template pTemplate="header">
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Employee ID</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-contract>
      <tr>
        <td>{{ contract.startdate | date }}</td>
        <td>{{ contract.enddate | date }}</td>
        <td>{{ contract.contractAmount }}</td>
        <td><span class="badge">{{ contract.type }}</span></td>
        <td>{{ contract.employeeId }}</td>

        <td>
          <button pButton icon="pi pi-eye" class="p-button-text"></button>
          <button pButton icon="pi pi-pencil" class="p-button-text"></button>
          <button pButton icon="pi pi-trash" class="p-button-text p-button-danger"></button>
        </td>
      </tr>
    </ng-template>

  </p-table>

</p-card>