<div class="page">

  <div class="container">

    <p-card>

      <div class="header">
        <h2>
          <i class="pi pi-file"></i>
          Create Contract
        </h2>

        <p>Add a new employee contract</p>
      </div>

      <form [formGroup]="contractForm">

        <!-- Start Date -->
        <div class="field">
          <label>Start Date</label>

          <input
            type="date"
            pInputText
            formControlName="startdate">
        </div>

        <!-- End Date -->
        <div class="field">
          <label>End Date</label>

          <input
            type="date"
            pInputText
            formControlName="enddate">
        </div>

        <!-- Amount -->
        <div class="field">
          <label>Contract Amount</label>

          <input
            type="number"
            pInputText
            formControlName="contractAmount"
            placeholder="Enter amount">
        </div>

        <!-- Employee -->
        <div class="field">
          <label>Employee Name</label>

           <p-dropdown
      [options]="employees"
      formControlName="employeeId"
      placeholder="Select Employee"
      optionLabel="label"
      optionValue="value">
  </p-dropdown>

        </div>

        <!-- Type -->
        <div class="field">
          <label>Contract Type</label>

          <p-dropdown
            [options]="types"
            formControlName="type"
            placeholder="Select type">
          </p-dropdown>
        </div>

        <!-- Button -->
        <button
          pButton
          type="button"
          label="Create Contract"
          icon="pi pi-check"
          (click)="submit()"
          [disabled]="contractForm.invalid">
        </button>

      </form>

    </p-card>

  </div>

</div>