<div class="page">

  <div class="container">

    <p-card styleClass="card">

      <!-- HEADER -->
      <div class="header">
        
        <h2>          <i class="pi pi-file"></i>
Create Contract</h2>
        <p>Add a new contract for employee</p>

      </div>

      <!-- FORM -->
      <form [formGroup]="contractForm" class="p-fluid">

        <!-- START DATE -->
        <div class="field">
          <label>Start Date</label>

          <input
            type="date"
            pInputText
            formControlName="startdate"
          />
        </div>

        <!-- END DATE -->
        <div class="field">
          <label>End Date</label>

          <input
            type="date"
            pInputText
            formControlName="enddate"
          />
        </div>

        <!-- AMOUNT -->
        <div class="field">
          <label>Contract Amount</label>

          <input
            type="number"
            pInputText
            formControlName="contractAmount"
            placeholder="5000"
          />
        </div>

        <!-- TYPE -->
        <div class="field">
          <label>Type</label>

          <p-dropdown
            [options]="types"
            formControlName="type"
            placeholder="Select type"
          ></p-dropdown>
        </div>

        <!-- EMPLOYEE ID -->
        <div class="field">
          <label>Employee ID</label>

          <input
            type="number"
            pInputText
            formControlName="employeeId"
            placeholder="1"
          />
        </div>

        <!-- BUTTON -->
        <button
          pButton
          label="Save Contract"
          icon="pi pi-check"
          class="btn"
          [disabled]="contractForm.invalid"
        ></button>

      </form>

    </p-card>

  </div>

</div>